---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: opensans, "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$link-color: #226699;
$base-font-color: #303030;
$post-margin-480: 20px;

/*
 * Use media queries like this:
@include media-query($on-palm) {
    .wrapper {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
 */
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "fonts",
    "style",
    "zac",
    "syntax",
    "responsive"
;