@font-face {
    font-family: opensans;
    src: url(./open_sans/regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
	font-family: opensans;
	src: url(./open_sans/semi_bold.ttf) format('truetype');
	font-weight: 600;
}
