@font-face {
  font-family: custom;
  src: url(./oxygen/regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: custom;
  src: url(./oxygen/bold.ttf) format('truetype');
  font-weight: 600;
}
