@media (max-width: 480px) {
  body #container ul.posts .datetime {
    float: none;
    display: block;
    width: auto;
    text-align: center;
  }
  body #container #ind-instagram,
  body #container #ind-linkedin {
    display: none;
  }
  body #container .links,
  body #container .content {
    padding: $post-margin-480;
  }
  body #container .links section.post,
  body #container .content section.post {
    margin: 0 $post-margin-480 * -1;
  }
  body #container .links section.post > p,
  body #container .links section.post h1,
  body #container .links section.post h2,
  body #container .links section.post h3,
  body #container .links section.post h4,
  body #container .links section.post .signoff,
  body #container .links section.post blockquote,
  body #container .links section.post .highlight,
  body #container .content section.post > p,
  body #container .content section.post h1,
  body #container .content section.post h2,
  body #container .content section.post h3,
  body #container .content section.post h4,
  body #container .content section.post .signoff,
  body #container .content section.post blockquote,
  body #container .content section.post .highlight {
    padding: 0 $post-margin-480;
  }
  body #container .links section.post > ul,
  body #container .links section.post > ol,
  body #container .content section.post > ul,
  body #container .content section.post > ol {
    padding: 0 $post-margin-480 * 2;
  }
  ul.posts li {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 22px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
  section.post blockquote:before,
  section > p blockquote:before {
    content: "";
    height: 100%;
    width: 3px;
    top: 0;
    left: 0;
    background-color: #d0dfda;
  }
  section.post blockquote:before:hover,
  section > p blockquote:before:hover {
    background-color: #454545;
  }
  #go-back-home {
    font-size: 1.4rem;
  }
  .phone-hide {
    display: none;
  }
  #container .block.top {
    padding: 35px 40px 0;
  }
  section.post {
    h1.page-title {
      font-size: 1.75em;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
}
