#container .block a.main {
  background-image: none;
  &:hover {
    background-image: url(/images/line.png);
  }
}

#go-back-home {
  color: #303030;
  font-weight: bold;
  font-size: 1.6rem;
}

ul.posts li {
  font-size: 14px;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 10px;
  }
}

section.post, section > p {
  line-height: 1.7em;
}

section.post {
  h2 {
    margin: 1.7em 0 1.5em 0;
    font-size: 1.45em;
  }
  h3 {
    margin: 1.5em 0 1.4em 0;
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.05em;
  }
  & > p, & > ol, & > ul {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

section.post blockquote:before, section > p blockquote:before {
  content: "“";
  font-family: georgia, serif;
  font-size: 50px;
  position: absolute;
  top: 33px;
  left: 30px;
  color: #d0dfda;
}

footer {
  margin-top: 30px;
}