#container {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#container .block {
  padding: 25px 40px 20px;
  border: none;
  background-color: #FBFBFB;
  a.main {
    background-image: none;
    &:hover {
      background-image: url(/images/line.png);
    }
  }
}
#container .block.top {
  background-color: transparent;
  padding: 40px 40px 15px;
}
#go-back-home {
  color: #303030;
  font-weight: bold;
  font-size: 1.6rem;
}
ul.posts li {
  font-size: 14px;
  margin-bottom: 22px;
}
section.post,
section > p {
  line-height: 1.75em;
}
section.post {
  h1 {
    margin-top: 20px;
    font-size: 1.6em;
    &.page-title {
      font-size: 1.85em;
      font-weight: 300;
    }
  }
  h2 {
    margin: 1.6em 0 1.5em;
    font-size: 1.45em;
  }
  h3 {
    margin: 1.5em 0 1.4em;
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.05em;
  }
  & > p,
  & > ol,
  & > ul {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
section.post blockquote:before,
section > p blockquote:before {
  content: "“";
  font-family: georgia, serif;
  font-size: 50px;
  position: absolute;
  top: 33px;
  left: 30px;
  color: #d0dfda;
}
footer {
  margin-top: 30px;
}
