<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href='/css/main.css' rel='stylesheet' type='text/css' />
</head>

<body>
  {% include header.html %}
  <div id='container'>
    {% if page.is_home %}{% include links-top.html %}{% endif %}
    {% if page.is_post %}{% include pages.html %}{% endif %}
    <div class="content">
      {{ content }}
    </div>
    {% if page.is_home != true %}{% include links.html %}{% endif %}
  </div>
  {% include footer.html %}
</body>

</html>
